.container-forms-create {
  padding: 18px;
  border-radius: 12px;
}

.container-forms-create h2 {
  text-align: center;
  color: #492400;
  font-size: 23pt;
}

.container-forms-create h1 {
  text-align: center;
  color: #492400;
  margin-bottom: 30px;
}

.container-forms-create .datas {
  animation: bounceIn 1s ease-in;
  background-color: #b7d8b7;
  border: none;
  padding: 15px;
  border-radius: 15px;
}

.container-forms-create .datas fieldset {
  border: none;
}

.container-forms-create .datas fieldset legend {
  margin-bottom: 15px;
}

.container-forms-create .datas fieldset legend h2 {
  text-align: left;
}

.container-forms-create .datas .single-collum {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.container-forms-create .datas .single-collum label {
  margin-bottom: 10px;
  font-size: 15pt;
}
.container-forms-create .datas .single-collum input,
.container-forms-create .datas .single-collum textarea,
.container-forms-create .datas .double-collum select,
.container-forms-create .datas .double-collum input {
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: rgb(240, 238, 238);
  font-size: 14pt;
}

.container-forms-create .datas .double-collum {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.container-forms-create .datas .double-collum div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-forms-create .datas .double-collum div label {
  margin-bottom: 10px;
}

.container-forms-create .datas .double-collum div input,
.container-forms-create .datas .double-collum div select {
  flex: 1;
}
